<h1>Web Sockets</h1>

<script>
  var wsProtocol = window.location.protocol == "http:" ? "ws:" : "wss:";
  var websocket = new WebSocket(wsProtocol + "//" + window.location.host + "/test");

  console.log('Socket Status: ' + websocket.readyState);

  websocket.onmessage = function (event) {
    console.log("Socket Message: " + event.data);
  };

  websocket.onopen = function () {
    console.log('Socket Status: ' + websocket.readyState + ' (open)');
    websocket.send("Hello Server");
  };

</script>
